/* GLOBAL STYLES */
nav select{
    display: block;
    color: green;
    list-style: none;
    
    
    width: 40%;
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
}


.active{
    color:gold;
    background-color: black;
}

header{
    background-color: lightblue;
}


/* MOBILE STYLES */
@media only screen and (min-width : 300px) and (max-width : 775px){
    
    nav select{
        float: right;
    }
    
    #logo_nav{
        float:left;
        clear: both;
    }
}