/* GLOBAL STYLES */
html{
    width: 100%;
    min-height: 100%;
    background-color: yellow;
    
}

body{
   
    margin: 0 auto;
    background-color: #8F91A2;
       
}



/* navigation */

#logo_nav{
    margin: 0 .5em .5em .5em;
    background-image: url(img/logo/logo_2.png);
    background-repeat: no-repeat;
    height: 60px;
    
   
    
}

nav select{
    display: block;
    color: #fff;
    background-color: black;
    list-style: none;
    
    width: 100%;
    height: 50px;
    border-radius: 3%;
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
}


.active{
    color:#E46525;
}

header{
    min-height: 50px;
    background-color: #94B0DA;
}

/* images */

 .slide_show{
        width: 640px;
        max-height: 400px;
        
        margin: 0 auto;
        
}

.img_show{
    margin: 1em;
}

/* font and copy styles */

h1{
    margin:16px; /* standard fontsize*/
}

section{
    margin: 1em;
}




#open_hours a, .kids a, .teachers a, .research a{
    text-decoration:none;
    color: #fff;
    background-color: #343F3E;
    display:block;
    text-align: center;    
}


/* footer styles */

footer{
    width: 100%;
    height: 230px;
    background-color: #343F3E;
}

#f_col_1 ul{
    list-style-type: none;
    list-style: none;
    display: block;
    margin-left: 1em;
    padding:0;
    
    color: #fff;
    
}

#f_col_2 ul{
    list-style-type: none;
    list-style: none;
    display: block;
    margin-right: 1em;
    padding:0;
    
    color: #fff;
    
}

#f_col_3 a{
    margin-left: 1em;
   
}


#f_col_3 p{
    color:#fff;
    text-transform: uppercase;
    margin-left: 1em;
}

/* flex to footer */
#footer_col_narrow{
        display:flex;
        flex-flow: row wrap;
    }


/* MOBILE STYLES */
@media only screen and (min-width : 300px) and (max-width : 775px){
    
    body{
        width: 100%;
    } 
    
    
    .slide_show{
        width: 100%;
        height: 66.667%;
            
    }
    
    /* VISIT US/ OPEN HOURS */
    
    .open_hour_col{
        display: flex;
        flex-direction: row;
            
    }
    
    .hour_col_1{
        flex-direction: column;
        text-align: left;
        
    }
    
    .hour_col_2{
        flex-direction: column;
        margin-left: 2em;
    }
    

    #f_col_1, #f_col_2{
        flex: 1 50%;
    }
    #f_col_3{
        flex:2;
    }
    
  
}

/* MOBILE LANDSCAPE */

@media only screen and (min-width : 755px) and (max-width : 850px){
    
    body{
        width: 100%;
    } 
    
    
    .slide_show{
        width: 100%;
        height: 66.667%;
            
    }
    
    /* VISIT US/ OPEN HOURS */
    
    .open_hour_col{
        display: flex;
        flex-direction: row;
            
    }
    
    .hour_col_1{
        flex-direction: column;
        text-align: left;
        
    }
    
    .hour_col_2{
        flex-direction: column;
        margin-left: 1em;
    }
    
    #f_col_1, #f_col_2, #f_col_3{
        flex: 1 33%;
    }
  
  
}